# Visualising iris data

adapted from [this notebook](https://github.com/rhiever/Data-Analysis-and-Machine-Learning-Projects/blob/master/example-data-science-notebook/Example%20Machine%20Learning%20Notebook.ipynb) by [Randal S. Olson](http://www.randalolson.com/)

We've been given a data set from our field researchers to develop the demo, which only includes measurements for three types of Iris flowers:

  * Iris setosa
  * Iris versicolor
  * Iris virginica
  
We're trying to classify the species (i.e., class) of the flower based on four measurements that we're provided: sepal length, sepal width, petal length, and petal width.

## Checking the data

Let's start by reading the data into a pandas DataFrame.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

iris_data = pd.read_csv('iris_data.csv')

In [2]:
iris_data.dropna(inplace=True)
iris_data.head()

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

Moreover, we can study the characteristics of each of the classes by splitting the data set.

In [11]:
classes = iris_data['class'].unique().tolist()
classes

['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

Split the dataset according to the 3 classes

In [4]:
setosa = iris_data[iris_data['class']=='Iris-setosa']
versicolor = iris_data[iris_data['class']=='Iris-versicolor']
virginica = iris_data[iris_data['class']=='Iris-virginica']

The mean and std tell us that data split in 3 classes is more homogeneous per class. Specially setosa is narrowly distributed around the mean for the petal variables (std close to zero -> values close to the mean)

In [5]:
setosa.describe()

       sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
count        45.000000       45.000000        45.000000       45.000000
mean          5.048889        3.431111         1.460000        0.251111
std           0.350728        0.388951         0.181409        0.110005
min           4.400000        2.300000         1.000000        0.100000
25%           4.800000        3.200000         1.400000        0.200000
50%           5.000000        3.400000         1.500000        0.200000
75%           5.200000        3.700000         1.600000        0.300000
max           5.800000        4.400000         1.900000        0.600000

In [6]:
virginica.describe()

       sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
count        50.000000       50.000000        50.000000       50.000000
mean          6.546000        2.974000         5.552000        2.034000
std           0.630261        0.322497         0.551895        0.276723
min           4.900000        2.200000         4.500000        1.400000
25%           6.200000        2.800000         5.100000        1.800000
50%           6.450000        3.000000         5.550000        2.000000
75%           6.900000        3.175000         5.875000        2.300000
max           7.900000        3.800000         6.900000        2.500000

Plot histograms of the 4 variables split by class. Notice that petal length and width cluster the classes. Specially Iris-setosa is easily separable from the other 2 classes by means of the petal characteristics.

In [7]:
setosa['sepal_length_cm'].hist()
virginica['sepal_length_cm'].hist()
versicolor['sepal_length_cm'].hist()

In [8]:
setosa['sepal_width_cm'].hist()
virginica['sepal_width_cm'].hist()
versicolor['sepal_width_cm'].hist()

In [9]:
setosa['petal_length_cm'].hist()
virginica['petal_length_cm'].hist()
versicolor['petal_length_cm'].hist()

In [10]:
setosa['petal_width_cm'].hist()
virginica['petal_width_cm'].hist()
versicolor['petal_width_cm'].hist()